PATH="/home/dotcloud/perl5/bin:/opt/perl5/perls/current/bin"
*/3 * * * *  perl /home/dotcloud/code/SakaeLog/script/cron/find_new_entry.pl
* 2 * * *    perl /home/dotcloud/code/SakaeLog/script/cron/find_new_kenkyuusei_entry.pl

