TZ=JST-9
PATH="/home/dotcloud/perl5/bin:/opt/perl5/perls/current/bin"
PERL5LIB=/home/dotcloud/perl5/lib/perl5

# regular
*/3 14-23,0-11 * * *  perl /home/dotcloud/code/SakaeLog/script/cron/find_new_entry.pl

# kenkyuusei
00 11 * * *   perl /home/dotcloud/code/SakaeLog/script/cron/find_new_kenkyuusei_entry.pl

